body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    color: black;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

header h1 {
    margin-bottom: 0.5rem;
}

main {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #E0E0E0;
}

th {
    background-color: #A5D6A7;
    color: #2E7D32;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(even) {
    background-color: #FAFAFA;
}

tr.gold {
    background-color: #FFF9C4;
    font-weight: bold;
}

tr.silver {
    background-color: #ECEFF1;
    font-weight: bold;
}

tr.bronze {
    background-color: #D7CCC8;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #E8F5E9;
    font-style: italic;
}

form {
    background-color: #FAFAFA;
    padding: 2rem 1rem;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

form label {
    font-weight: bold;
}

.form-element
{
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 10px; 
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

form .checkboxes {
    border: none;
    padding: 0%;
}

form input[type="checkbox"] {
  border-radius: 10px;
}

form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px; 
  font-size: 1rem;
  cursor: pointer;
}

form button:hover {
  background-color: #45a045;
}